
.navigation-top {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
  .our-address {
    display: none;
  }
.container-footer-logo{
  margin-left: 16px;
}
  .mobile-menu-close-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    line-height: 0;
    background-color: transparent;
  }
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    top: 0;
    left: 0;
    padding-left: 16px;
    padding-right: 24px;
    background: #fff;
    transform: translateX(100%);
    transition: transform 250ms ease-out;
  }
  .mobile-menu.is-open {
    transform: translateX(0);
  }
  .navigation-list.burger-navigation-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-top: 72px;
    margin-bottom: 168px;
  }
  .address-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 48px;
  }
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
}
.navigation{
  gap: 76px;
}
.logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-studio {
  color: #2e2f42;
}

.link-navigation {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.first-link-navigation {
  color: #404bbf;
}

.contacts {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
}
.contact-phone {
  color: #4d5ae5;
}
.social-media-list.burger-social-media-list {
  display: flex;
  gap: 40px;
}
.social-media-list-point {
  width: 40px;
  height: 40px;
}
.social-media-list-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-list-link:hover,
.social-media-list-link:focus {
  background-color: #31d0aa;
}
.social-media-list-svg {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .open-navigation-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation-container {
    padding-left: 16px;
    padding-right: 16px;
    flex-basis: calc(100% - 64px) / 2;
    height: 72px;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: calc(100%-120px) / 2;
  }
  .logo {
    margin-right: 120px;
  }
  .navigation-list {
    display: flex;
    gap: 40px;
    flex-basis: calc(100%-80px) / 3;
  }

  .link-navigation {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-navigation:hover,
  .link-navigation:focus {
    color: #404bbf;
  }
  .first-link-navigation::after {
    content: '';
    display: block;
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .first-link-navigation {
    color: #404bbf;
  }
  .address-list {
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts:hover,
  .contacts:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .navigation-container {
    flex-basis: calc(100%-40px) / 2;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navigation {
    flex-basis: calc(100%-76px) / 2;
  }
  .our-address .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
